<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/posts">Blog Posts</a></li>
		</ul>
	</nav>
	<div class="container">

		{{ content }}

	</div><!-- /.container -->
	<footer>
		<ul>
			<li><a href="mailto:201551061@iiitvadodara.ac.in.com">email</a></li>
			<li><a href="https://github.com/yashLadha">github</a></li>
			<li><a href="https://www.linkedin.com/in/yash-ladha-853aa8140/">LinkedIn</a></li>
		</ul>
	</footer>
</body>
</html>